{% extends 'app/base.html.twig' %}

{% block title %}Nos Coachs{% endblock %}

{% block body %}
<h1>Liste des Coachs</h1>

<div class="clients-grid">
    {% for coach in coachs %}
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <div class="card-body">

                    <h5>
                        {{ coach.user.prenom }} {{ coach.user.nom }}
                    </h5>

                    <p><strong>Spécialité :</strong> {{ coach.specialite }}</p>
                    <p><strong>Expérience :</strong> {{ coach.experience }}</p>

                    <a href="{{ path('client_coach_subscribe', {'id': coach.id}) }}"
                    class="btn btn-primary">
                        S'abonner
                    </a>

                </div>
            </div>
        </div>
    {% else %}
        <p>Aucun coach disponible.</p>
    {% endfor %}
</div>

{% endblock %}